$gray:				#b2b2b2;
$gray-light: 		#ececec;

$green:				#78c042;

$blue:				#0192b5;
$blue-light:		#34c5e8;

$limiter-max-width:	985px;
$middle-max-width:	600px;
$narrow-max-width:	440px;
$limiter-min-width:	320px;
